sematic_router.yaml
Comment: A description of my state machine
StartAt: Recuperar resumo da conversa
States:
  Recuperar resumo da conversa:
    Type: Task
    Resource: arn:aws:states:::dynamodb:getItem
    Parameters:
      TableName: geniusai-demo-chat
      Key:
        pk:
          S.$: $.session_id
        sk:
          S: summary
    Next: Choice
    ResultPath: $.chat_summary
  Choice:
    Type: Choice
    Choices:
      - Variable: $.chat_summary.Item
        IsPresent: true
        Next: Extrair resumo
    Default: Não há resumo de conversa para essa sessão
  Extrair resumo:
    Type: Pass
    Next: Roteador semântico
    Parameters:
      summary.$: $.chat_summary.Item.message
    ResultPath: $.chat_summary
  Não há resumo de conversa para essa sessão:
    Type: Pass
    Next: Roteador semântico
    Parameters:
      summary: Não há resumo
    ResultPath: $.chat_summary
  Roteador semântico:
    Type: Task
    Resource: arn:aws:states:::bedrock:invokeModel
    Parameters:
      ModelId: >-
        arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-haiku-20240307-v1:0
      Body:
        anthropic_version: bedrock-2023-05-31
        max_tokens: 200
        temperature: 0.1
        system: >-
          Você é um roteador semântico responsável por selecionar a melhor rota
          de acordo com o pedido do usuário. As possibilidades de rota estão
          especificadas nas tags <route> Informe a rota no campo <>. Informe
          apenas o nome da rota, sem nenhuma explicação adicional.

          A empresa é uma fábrica de chocolates, do Willy Wonka


          <route>

          Name: pedido_pessoa_fisica

          Description: Solicitação de pedido para pessoas físicas. Geralmente
          relacionado a pedidos de menor tamanho

          Exemplos: [Quanto custa 1 barra?, Gostaria de fazer um pedido de 5
          barras de chocolate amargo, Como faço para comprar 1 barra?,  Gostaria
          de comprar alguns chocolates, Gostaria de comprar algumas jujubas]

          </route>


          <route>

          Name: pedido_pessoa_juridica

          Description: Solicitação de pedido para empresas. Geralmente
          relacionado a pedidos de maior tamanho

          Exemplos: [Gostaria de fazer uma cotação para minha empresa, Quanto
          custa a compra do kg do chocolate?]

          </route>


          <route>

          Name: acompanhar_pedido

          Description: Acompanhamento de pedido já realizados, independente do
          tipo de cliente

          </route>


          <route>

          Name: duvida_tecnica

          Description: Dúvida relacionado a produtos

          </route>


          <route>

          Name: falar_com_atendente

          Description: Pedidos do usuário que precisem de um apoio humano

          </route>

          <route>

          Name: default

          Description: Caso não esteja claro qual é o pedido do cliente

          </route>


          Se o cliente mandar algo genérico como uma palavra 'Olá', 'Oi', 'Me
          ajuda', você deve selecionar a rota default
        messages:
          - role: user
            content:
              - type: text
                text.$: |-
                  States.Format('Historico: {}
                   mensagem: {}', $.chat_summary.summary, $.user_input)
          - role: assistant
            content:
              - type: text
                text: >-
                  De acordo com a intenção do usuário e as rotas
                  disponibilizadas, a rota é <route>
        stop_sequences:
          - </route>
    Next: Rota
    ResultSelector:
      route_selected.$: $.Body.content[0].text
    ResultPath: $.router
  Rota:
    Type: Choice
    Choices:
      - Variable: $.router.route_selected
        StringEquals: pedido_pessoa_fisica
        Next: Extrair informação
      - Variable: $.router.route_selected
        StringEquals: pedido_pessoa_juridica
        Next: Placeholder para criar oportunidade no CRM
      - Variable: $.router.route_selected
        StringEquals: falar_com_atendente
        Next: Placeholder para redirecionar para atendente
      - Variable: '$.router.route_selected '
        StringEquals: technical_question_prompts
        Next: Ajustar pergunta para base de conhecimento
    Default: Pedir mais informações
  Ajustar pergunta para base de conhecimento:
    Type: Task
    Resource: arn:aws:states:::bedrock:invokeModel
    Parameters:
      ModelId: >-
        arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-haiku-20240307-v1:0
      Body:
        anthropic_version: bedrock-2023-05-31
        max_tokens: 200
        system: >-
          Você é um agente responsavel por receber dúvidas técnicas para a
          Fabrica de Chocolates Willy Wonka. Você é um engenheiro de alimentos
          especializado em analises sensoriais e inforamcoes tecnicas sobre
          produtos. 


          Você deve ser capaz de receber uma dúvida e ajustar essa pergunta para
          ser usada em consulta em base de conhecimento vetorial, em uma base de
          conhecimento que contem fichas técnicas dos produtos disponiveis
          (chocolate ao leite, chocolate amargo, chocolate branco, jujubas). 

           Não questione o usuário, seu papel é apenas trasnformar a frase em uma frase mais eficiente para ser consultada na base de conhecimento, sem interferir na mensagem
        messages:
          - role: user
            content:
              - type: text
                text.$: |-
                  States.Format('Resumo do histórico de dúvidas: {}
                   mensagem atual do usuárui: {}. Gere uma pergunta que será redireionada para a base de conhecimento', $.chat_summary.summary, $.user_input)
    Next: Consultar base de conhecimento
    ResultSelector:
      question.$: $.Body.content[0].text
    ResultPath: $.question_processed
  Placeholder para criar oportunidade no CRM:
    Type: Pass
    Next: Placeholder para redirecionar para atendente
  Pedir mais informações:
    Type: Task
    Resource: arn:aws:states:::bedrock:invokeModel
    Parameters:
      ModelId: >-
        arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-5-sonnet-20240620-v1:0
      Body:
        anthropic_version: bedrock-2023-05-31
        max_tokens: 400
        temperature: 0.3
        system: >-
          Você é um agente responsavel por receber solicitações para a Fabrica
          de Chocolates Willy Wonka.  Você deve ser capaz de analisar as
          informações passadas pelo cliente para entender como pode ajudar
          melhor o cliente, como por exemplo, realizar pedidos, tirar dúvida
          técnica, etc.


          Elabore uma mensagem agradável e simpática para que o cliente explique
          melhor o que ele precisa de ajuda
        messages:
          - role: user
            content:
              - type: text
                text.$: |-
                  States.Format('Historico: {}
                   mensagem: {}', $.chat_summary.summary, $.user_input)
        stop_sequences:
          - '}'
    Next: Formatar Resposta
    ResultSelector:
      response.$: $.Body.content[0].text
    ResultPath: $.result
  Extrair informação:
    Type: Task
    Resource: arn:aws:states:::bedrock:invokeModel
    Parameters:
      ModelId: >-
        arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-5-sonnet-20240620-v1:0
      Body:
        anthropic_version: bedrock-2023-05-31
        max_tokens: 200
        temperature: 0.1
        system: "Você é um agente responsavel por receber pedidos de pessoas físicas para a Fabrica de Chocolates Willy Wonka.  Você deve ser capaz de analisar as informações passadas pelo cliente para garantir que tem tudo necessário para abrir um pedido de compra. As informações necessárias estão descritas nas tags <information>\n\n<information>\nName: nome_cliente\nDescription: Nome do cliente, contendo nome e sobrenome. É imprescindivel que possua nome e sobrenome, sendo o nome completo do cliente (pelo menos 2 palavras)\n</information>\n\n<information>\nName: nome_produto\nDescription: Nome do produto, entre as possibilidades na lista [chocolate_ao_leite, chocolate_amargo, chocolate_branco, jujuba].\n</information>\n\n<information>\nName: quantidade\nDescription: quantidade do produto, em gramas. Apenas aceitamos pedidos que indiquem a quantidade em gramas\n</information>\n\nTODAS AS INFORMACOES DESCRITAS EM TAGS <information> DEVEM SER PREENCHIDAS\n\nVocê deve extrair as informações e formatar em um JSON. Caso não exista a informações suficientes, escrever a palavra none. Responder apenas com o JSON\n\nUsar o formato JSON {\nnome_cliente: ,\nnome_produto: ,\nquantidade: \n}\n\n\n<example>\nInput do usuário: \"Oi, meu nome é Ana Souza e gostaria de pedir 200g de chocolate ao leite.\"\nResposta esperada:{\"nome_cliente\": \"Ana Souza\", \"nome_produto\": \"chocolate_ao_leite\", \"quantidade\": \"200g\"}\n</example>\n\n<example>\nInput do usuário: \"Oi, sou Pedro Oliveira e quero comprar 150g de chocolate amargo.\"\nResposta esperada:{ \"nome_cliente\": \"Pedro Oliveira\", \"nome_produto\":  \"chocolate_amargo\", \"quantidade\": \"150g\"}\n</example>\n\n<example>\nInput do usuário: \"Gostaria de 300g de jujuba. Meu nome é Maria Santos.\"\nResposta esperada:{\"nome_cliente\": \"Maria Santos\", \"nome_produto\": \"jujuba\", \"quantidade\": \"300g\"}\n</example>\n\n<example>\nInput do usuário: \"Bom dia, gostaria de 500g de chocolate branco. Nome: Roberto Lima.\"\nResposta esperada:{\"nome_cliente\": \"Roberto Lima\", \"nome_produto\": \"chocolate_branco\", \"quantidade\": \"500g\"}\n</example>\n\n<example>\nInput do usuário: \"Quero 250g de chocolate ao leite.\"\nResposta esperada:{\"nome_cliente\": \"none\", \"nome_produto\": \"chocolate_ao_leite\", \"quantidade\": \"250g\"}\n</example>\n\nNão utilize caractes especiais como '\n' e '\t'"
        messages:
          - role: user
            content:
              - type: text
                text.$: |-
                  States.Format('Historico: {}
                   mensagem: {}', $.chat_summary.summary, $.user_input)
          - role: assistant
            content:
              - type: text
                text: >-
                  De acordo com as informações do usuário, a resposta em JSON
                  é:{
        stop_sequences:
          - '}'
    Next: Formatar JSON
    ResultSelector:
      informacoes.$: $.Body.content[0].text
      aux_open: '{'
      aux_close: '}'
    ResultPath: $.information
  Formatar JSON:
    Type: Pass
    Next: Parse JSON
    Parameters:
      informacoes.$: >-
        States.Format('{}{}{}', $.information.aux_open,
        $.information.informacoes, $.information.aux_close)
    ResultPath: $.informacoes
  Parse JSON:
    Type: Pass
    Next: Informações suficientes?
    Parameters:
      response.$: States.StringToJson($.informacoes.informacoes)
    ResultPath: $.informacoes
  Informações suficientes?:
    Type: Choice
    Choices:
      - Or:
          - Variable: $.informacoes.response.nome_cliente
            StringEquals: none
          - Variable: $.informacoes.response.nome_produto
            StringEquals: none
          - Variable: $.informacoes.response.quantidade
            StringEquals: none
        Comment: Has none
        Next: Elaborar pergunta
    Default: Placeholder - realizar o pedido em si
  Placeholder - realizar o pedido em si:
    Type: Pass
    Next: Concluir pedido
  Concluir pedido:
    Type: Task
    Resource: arn:aws:states:::bedrock:invokeModel
    Parameters:
      ModelId: >-
        arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-5-sonnet-20240620-v1:0
      Body:
        anthropic_version: bedrock-2023-05-31
        max_tokens: 300
        temperature: 0.5
        system: >+
          SYSTEM: Você é um agente responsavel por receber pedidos de pessoas
          físicas para a Fabrica de Chocolates Willy Wonka.  Você deve ser capaz
          de analisar as informações passadas pelo cliente para garantir que tem
          tudo necessário para abrir um pedido de compra. As informações
          necessárias estão descritas nas tags <information>


          <information>

          Name: nome_cliente

          Description: Nome do cliente, contendo nome e sobrenome. É
          imprescindivel que possua nome e sobrenome, sendo o nome completo do
          cliente (pelo menos 2 palavras)

          </information>


          <information>

          Name: nome_produto

          Description: Nome do produto, entre as possibilidades na lista
          [chocolate_ao_leite, chocolate_amargo, chocolate_branco, jujuba].

          </information>


          <information>

          Name: quantidade

          Description: quantidade do produto, em gramas. Apenas aceitamos
          pedidos que indiquem a quantidade em gramas

          </information>


          TODAS AS INFORMACOES DESCRITAS EM TAGS <information> DEVEM SER
          PREENCHIDAS


          Todas as informações foram preenchidadas com sucesso, agradeça o
          pedido e diga que os oompa loompas já começaram a trabalhar




        messages:
          - role: user
            content:
              - type: text
                text.$: States.JsonToString($.informacoes.response)
    Next: Formatar Resposta
    ResultSelector:
      response.$: $.Body.content[0].text
    ResultPath: $.result
  Elaborar pergunta:
    Type: Task
    Resource: arn:aws:states:::bedrock:invokeModel
    Parameters:
      ModelId: >-
        arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-5-sonnet-20240620-v1:0
      Body:
        anthropic_version: bedrock-2023-05-31
        max_tokens: 400
        temperature: 0.1
        system: >-
          Você é um agente responsavel por receber pedidos de pessoas físicas
          para a Fabrica de Chocolates Willy Wonka.  Você deve ser capaz de
          analisar as informações passadas pelo cliente para garantir que tem
          tudo necessário para abrir um pedido de compra. As informações
          necessárias estão descritas nas tags <information>


          <information>

          Name: nome_cliente

          Description: Nome do cliente, contendo nome e sobrenome. É
          imprescindivel que possua nome e sobrenome, sendo o nome completo do
          cliente (pelo menos 2 palavras)

          </information>


          <information>

          Name: nome_produto

          Description: Nome do produto, entre as possibilidades na lista
          [chocolate_ao_leite, chocolate_amargo, chocolate_branco, jujuba].

          </information>


          <information>

          Name: quantidade

          Description: quantidade do produto, em gramas. Apenas aceitamos
          pedidos que indiquem a quantidade em gramas

          </information>


          Elabore uma mensagem agradável e simpática para que o cliente explique
          melhor o que ele precisa de ajuda
        messages:
          - role: user
            content:
              - type: text
                text.$: |-
                  States.Format('Informações coletada até o momento: {}
                   Historico: {}
                   mensagem: {}', States.JsonToString($.informacoes.response), $.chat_summary.summary, $.user_input)
    Next: Formatar Resposta
    ResultSelector:
      response.$: $.Body.content[0].text
    ResultPath: $.result
  Formatar Resposta:
    Type: Pass
    Parameters:
      message: teste
      response:
        model_response.$: $.result.response
        human_assistant: false
        model_usage: 200
        route.$: $.router.route_selected
        summary.$: $.chat_summary.summary
      workflow_execution_time: 4
      user_input.$: $.user_input
      session_id.$: $.session_id
    Next: Atualizar historico de chat
  Atualizar historico de chat:
    Type: Task
    Resource: arn:aws:states:::states:startExecution
    Parameters:
      StateMachineArn: >-
        arn:aws:states:us-east-1:667078243530:stateMachine:generate-summary-dynamodb
      Input:
        session_id.$: $.session_id
        table_name: geniusai-demo-chat
        message.$: $.user_input
        model_response.$: $.response.model_response
        AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$: $$.Execution.Id
    End: true
    ResultPath: null
  Placeholder para redirecionar para atendente:
    Type: Pass
    Next: Formatar Resposta
    Parameters:
      response: Redirecionando você para um atendente...
    ResultPath: $.result
  Consultar base de conhecimento:
    Type: Task
    Parameters:
      KnowledgeBaseId: 6JTWNJHJEQ
      RetrievalQuery:
        Text.$: $.question_processed.question
    Resource: arn:aws:states:::aws-sdk:bedrockagentruntime:retrieve
    ResultSelector:
      responses.$: $.RetrievalResults
    Next: Elaborar resposta para o usuário
    ResultPath: $.knowledge_base
  Elaborar resposta para o usuário:
    Type: Task
    Resource: arn:aws:states:::bedrock:invokeModel
    Parameters:
      ModelId: >-
        arn:aws:bedrock:us-east-1::foundation-model/anthropic.claude-3-5-sonnet-20240620-v1:0
      Body:
        anthropic_version: bedrock-2023-05-31
        max_tokens: 1000
        system: >-
          Você é um agente responsavel por receber dúvidas técnicas para a
          Fabrica de Chocolates Willy Wonka. Você é um engenheiro de alimentos
          especializado em analises sensoriais e inforamcoes tecnicas sobre
          produtos. 


          Você deve ser capaz de receber uma dúvida e responder utilizando
          infomações de uma base de conhecimento.
        temperature: 0.5
        messages:
          - role: user
            content:
              - type: text
                text.$: |-
                  States.Format('Resumo da conversa até agora: {}
                   

                   Informações da base de conhecumento <knowledebase>{}</knowledebase> pergunta do usuário: {}', $.chat_summary.summary, $.knowledge_base.responses, $.user_input)
    ResultPath: $.result
    ResultSelector:
      response.$: $.Body.content[0].text
    Next: Formatar Resposta
